body{
    background-color: bisque;
}
h1{
    text-align: center;
    background-color: brown;
}
.para{
    
    padding:5px;
    display:flex;
}
img {
    float: left;
    margin: 3%;
    margin-top: 5px;
    padding-left:20px;

}
 p{
    margin:3%;
    width:auto;
    /* height:300px; */
    /* padding-top: 1%; */
}
.img1{
    
    padding:5px;
    display:flex;
}
img {
    float: left;
    margin: 3%;
    margin-top: 5px;
    padding-left:20px;

}